.content-group {
  $this: &;
  margin: 4.5rem auto;

  @include for-size(tablet-down) {
    overflow-x: hidden;
  }

  &:first-of-type {
    margin-top: 0!important;
  }

  &__text {
    &-wrapper {
      z-index: 0;
    }
  }

  &__content {
    &-wrapper {
      width: 50%;
      flex-shrink: 0;

      @include for-size(tablet-down) {
        width: 100%!important;
      }
    }
  }

  &__media {
    width: 100%;
  }

  &__title {
    @include font-size(xl);
    font-weight: normal;
    color: $dark-gray;
    margin-bottom: 1.5rem;

    @include for-size(phone-only) {
      font-size: 1.7rem;
      line-height: 1.16em;
      margin-right: 4rem;
    }
  }

  &__button {
    font-family: 'Lato', sans-serif;
    color: $orange;
    font-size: 17px;
    line-height: 25px;

    &:hover {
      color: $dark-orange;
    }

    @include for-size(tablet-down) {
      text-align: left;
    }

    &:after {
      content: '';
      background: url('assets/images/icon-arrow-right--orange.svg') no-repeat 100%;
      width: 6px;
      height: 10px;
      display: inline-block;
      padding-right: 1rem;
      color: $orange;
    }
  }

  &__icon-with-text {
    background-color: $light-gray;
    width: 32.91vw;
    min-height: 25.13vw;
    padding: 1rem 5.12rem 1rem 2.5rem;
    justify-content: center;

    @include for-size(tablet-down) {
      width: 100%;
      margin: 0 auto 3.3rem auto;
      padding: 2.86rem 3.43rem;
      min-height: auto;
    }

    &-title {
      @include primary-font;
      margin-bottom: 1.25rem;
      font-size: 1.56rem;
      line-height: 1.875rem;
      text-align: left;
    }
  }

  &--swap {
    #{$this} {
      &__text {
        &-wrapper {
          margin-left: 7rem;
          margin-right: 0;

          @media (max-width: 950px) {
            margin: 0;
          }
        }
      }
    }
  }

  &--normal  {
    #{$this}__text-wrapper {
      margin-right: 1.56rem;
    }
  }

  &--wrapped {
    margin: 3.81rem auto 7.3rem auto;

    @include for-size(laptop-up) {
      #{$this}__media {
        height: 33.5vw;
  
        img {
          height: 100%;
          width: auto;
          margin-left: auto;
        }
      }
    }

    @include for-size(tablet-up) {
      width: calc(100% - 2*var(--wrapper-padding));
    }

    @include for-size(tablet-down) {
      margin: 3rem auto;

      #{$this}__text-wrapper {
        margin: 0 auto 2rem auto;
        order: 1;
      }

      #{$this}__content-wrapper {
        width: calc(100% - 2*var(--wrapper-padding))!important;
        margin: auto;
        order: 2;
      }
    }
  }

  &--after-footer {
    margin-bottom: 0;
    background-color: #F2F4F8;

    #{$this}__title { 
      font-weight: bold;
      font-size: 2.8rem;
      line-height: 3.125rem;
      margin-bottom: 2rem;

      @include for-size(tablet-down) { 
        margin-right: 0;
      }
    }

    #{$this}__text-wrapper {
      padding: 4.5rem 1rem 4.5rem 0;

      @include for-size(tablet-down) {
        padding: 3.28rem var(--wrapper-padding) 4.5rem var(--wrapper-padding);
        margin: 0;
      }
    }

    #{$this}__text {
      color: $gray;

      @media (min-width: 1200px) {
        padding-right: 13.875rem;
      }

      @include for-size(tablet-down) {
        font-size: 1.21rem;
        line-height: 1.785rem;
      }
    }

    #{$this}__media {
      height: 100%;

      .media__object {
        height: 100%;
        object-fit: cover;

        @include for-size(laptop-up) {
          position: absolute;
        }
      }
    }
  }

  &--image-tabs {
    align-items: center;
    margin-bottom: 4.53rem;
    
    #{$this}__title {
      @include font-size(xxl);
      font-weight: bold;

      @include for-size(tablet-down) {
        font-size: 1.71rem;
        line-height: 2rem;
        font-weight: 500;
      }
    }

    #{$this}__text-wrapper {
      padding: 0 0 0 6.125rem;
      margin-right: 1rem;
      color: #3C3838;

      @include for-size(tablet-down) {
        padding: 0 6.125rem;
        margin-bottom: 2.25rem;
      }

      @include for-size(phone-only) {
        padding: 0 21.25vw 0 15vw;
      }
    }

    #{$this}__content-wrapper {
      width: 60%;

      @include for-size(phone-only) {
        width: 100%!important;
        margin-left: var(--wrapper-padding);
      }
    }
  }
}